*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
 }

 .header{
   font-size: 235%;
   float: left;
   left: 0px;
   top: 0px;
   padding-left: 30px;
   padding-top: 3%;
   position: absolute;
 }

 .textbox1{
   position: absolute;
   width: 100%;
   float: right;
   font-size: 35px;
   padding-top: 0px;
   z-index: 1;
   top: 30%;
   left: 70%;
   
 }

 .topnav {
  position: relative;
  top:0px;
  right: 0px;
  padding-top: 2%;

}

.image1{
  left: 0px;
  padding-left: 5%;
  padding-top: 9%;
  max-height: 60%;
  position: absolute;
  top: 0px;
  margin: 0;
}
 
.topnav a{
  float: right;
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  margin: 0px;
}

/*//////////////////// section 1 ///////////////////*/

.section1{
  margin: 0px;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 700px;
}

.section1 .sqbox{
  width: 20%;
  height: auto;
  text-align: center;
  border: 3px solid black;
  position: relative;
  float: right;
  left: 480px;
  top: 0px;
}

.section1 .boxes{
  margin-right: 2px;
  position: absolute;
}

.section1 .boxes .box{
  float: left;
  width: 60%;
  padding: 10px;
  left: 80px;
  top: 4px;
  position: absolute;
}

.section1 .boxes .eybox{
  float: left;
  width: 60%;
  padding: 10px;
  left: 380px;
  top: 4px;
  position: absolute;
}

.section1 .blackbox{
  background: black;
  width: 70px;
  height: auto;
  top: 150px;
  left: 80px;
  text-align: left;
  position: absolute;
}


div.boxes{
  margin-right: 20px;
  padding-right: 20px;
  width: 100%;
  margin-top: 0px;
}

/*///////////////// section 2 ///////////////////*/

.section2{
  width: 100%;
  height: 1000px;
  left: 0px;
  top: 900px;
  position: absolute;
}

#banner{
  max-width: 60%;
  height: auto;
  left: 0px;
  right: 0px;
}

#i2{
  max-width: 60%;
  height: auto;
  left: 20px;
  top: 0px;
  position: absolute;
}

.section2 .textbox2{
  position: absolute;
  width: 200px;
  height: auto;
  left: 800px;
  top: 20px;
}

.section2 .p2{
  position: absolute;
  width: 200px;
  height: auto;
  left: 800px;
  top: 45px;
}

.section2 .blackbox{
  position: absolute;
  width: 200px;
  height: 200px;
  border: black solid 2px;
  right: 80px;
}

/*/////////////// section 3 /////////////////*/

.section3 #i3{
  max-width: 24%;
  height: auto;
  right: 60px;
  top: 1130px;
  position: absolute;
}

.subtext1{
  font-size: 10px;
  position: absolute;
  right: 40px;
  top: 1520px;
  margin-left: 930px;
  text-align: right;
}

/*///////////////// section 4 /////////////////*/

.section4
{
  position: relative;
  width: 800px;
  height: 300px;
  margin: 240px 80px;
  margin-left: 40px;
  top: 1050px;
}

.section4 .container
{
  position: relative;
  width: 140px;
  height: 140px;
  background: white;
  float: left;
  right: 20px;
  top: 0px;
  bottom: 20px;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border: black solid 2px;
}

.section4 .container .content{
  position: relative;
  margin: 10px;
  text-align: center;
  font-size: 11px;
}

.section4 .container:hover .content{
  background: white;
  font-size: 10px;
}

.section4 .container:hover{
  border: #6D5D61 solid 4px;
}

/*
.section4 .wline{
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 50px;
}
*/

/*
.section4 .boxy{
  border: black solid 3px;
  position: absolute;
  width: 80px;
  height: 80px;
  }
*/

/*/////////////// section 5 /////////////*/

.section5{
  padding: 0px;
  margin: 0px;
  top: 220%;
  position: absolute;
}
.section5 .i4{
  position: relative;
  top:0px;
  left: 35%;
  width: 60%;
  height: auto;
  bottom: 0%;
}

.section5 .p4{
  position: absolute;
  top: 10%;
  right: 75%;
  float: left;
  width: 20%;
  text-align: left;
}


.section5 .p5{
  position: absolute;
  top: 50%;
  right: 75%;
  float: left;
  width: 20%;
  text-align: left;
}

.section5 .blackbox{
  background: black;
  width: 70px;
  height: auto;
  top: 0px;
  left: 0px;
  text-align: left;
  position: absolute;
}

.section6{
  position: relative;
  margin-top: 125%;
  padding: 0;
  text-align: center;
  font-size: 8px;
  bottom: 0
}


/*///////////////////////////////// general ids///////////////////////////*/

#uppercase{
  text-transform: uppercase;
}

#grey{
  color: rgba(0, 0, 0, 0.5);
}

#boxtitle{
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

#white{
  color: white;
}

#italics{
  font-style: italic;
}

#black{
  color: black;
}



/*/////////////////////////////////ABOUT.HTML///////////////////////*/
body{
  background-color: white;
}
/*//////////////////Section 1 ////////////////////*/

.section1a{
  width: 100%;
  height: 500px;
  z-index: -1;
  position: relative;
  top: 80px;
}

.section1a .squared{
  width: 100px;
  height: auto;
  z-index: 1;
  position: absolute;
  background: black;

}
.section1a .image1{
  position: relative;
  top: 0px;
  left: 0px;
  width: 800px;
  height: auto;
}

#image1size{
  top: 0px;
  left: 0px;
  width: 40%;
  position: relative;
}

.section1a{
  position: relative;
}

.section1a .titlez{
  z-index:3;
  bottom: 10px;
  left: 250px;
  position: absolute;
}

#titlewhite{
  color: black;
  font-size: 60px;
}

.section1a .textbox3{
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 4rem;
  color: black;
  position: relative;
  left: 1120px;
  bottom: 110px;
  width: 600px;
  font-size: 30px;
  letter-spacing: 8px;
}

.section2a{
  position: relative;
  top: 220px;
  left: 0px;
}

.section2a .textbox4{
 position: relative;
 height: 180px;
 width: 950px;
 margin: 20px;
 right: 0px;
 top: 0px;

}

.section2a .textbox4 .box{
  position: relative;
  top: 0px;
  left: 20px;
  width: 250px;
  height: 250px;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  padding: 15px;
}


.section3a .blackbox{
  position: relative;
  bottom: 86px;
  left: 720px;
  width: 250px;
  height: 250px;
  border: black solid 3px;
}

.section4a .blackbox{
  background: black;
  width: 70px;
  height: auto;
  top: 965px;
  left: 7px;
  text-align: left;
  position: absolute;
}

/*/////////////////////////////////Contacts.HTML///////////////////////*/

.section1c{
  background:black;
  top:220px;
  left:0px;
  width: auto;
  height: 200px;
  position: relative;
}

.section1c .textbox{
  text-align: left;
  color: white;
  position: relative;
  letter-spacing: 4px;
  left: 600px;
  top: 20px;
}

.section1c .whitebox{
  color: white;
  position: relative;
  width: 250px;
  height: 250px;
  border: white solid 3px;
  bottom: 25px;
  left: 780px;
}

.section1c .blackbox{
  width: 425px;
  height: 425px;
  top: 80px;
  left: 880px;
  text-align: left;
  position: absolute;
  border: black solid 5px;
}

.section3c .text{
  position: relative;
  margin-top: 0%;
  padding: 0;
  text-align: center;
  font-size: 8px;
  top: 800px;
  font-weight: 30px;
  right: 250px;
}

.section3c .credits{
  position: relative;
  margin-top: 0%;
  padding: 0;
  text-align: center;
  font-size: 8px;
  bottom: 0;
  font-weight: 30px;
}


.container
{
  position: relative;
  width: 950px;
  height: 10px;
  margin: 20px;
  right: 0px;
  top: 20px;
}

.container .box
{
  position: relative;
  width: calc(250px);
  height: calc(250px);
  background: #fff;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 150px;
}

.container .box .content
{
  position: absolute;
  top:100%;
  height: calc(100% - 100px);
  text-align: center;  
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.container .box .icon
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(cup.jpg);
  background-position:center;
  background-repeat:no-repeat;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icon
{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url('https://www.yatzer.com/sites/default/files/article_images/3559/4_MAK_Ways_to_Modernism_Josef_Hoffmann_Adolf_Loos_and_Their_Impact_yatzer.jpg');
}

.container .box .icon .fa
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  transition: 0.5s;
  color: grey;
}

.container .box:hover .icon .fa
{
  font-size: 25px;
}



.container .box:hover .content
{
  top: 100px;
}

.container .box .content h3
{
  margin: 0;
  padding: 0;
}

.container .box .content p
{
  margin: 0;
  padding: 0;
  font-size: 12px;
}
